{% extends 'base.html.twig' %}

{% block title %}Show{% endblock %}

{% block body %}
    <h1>Show</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ show.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ show.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ show.description }}</td>
            </tr>
            <tr>
                <th>Illustration</th>
                <td><img class="photo" src ="/assets/images/{{ show.illustration }}" alt="photo du show"></td>
            </tr>
        </tbody>
    </table>


        <a href="{{ path('show_index') }}">back to list</a>

    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('show_edit', {'id': show.id}) }}">edit</a>
    {%endif%}

    {{ include('show/_delete_form.html.twig') }}
{% endblock %}
