{% extends 'base.html.twig' %}

{% block title %}Artiste index{% endblock %}

{% block body %}
    <h1>Artiste index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Carriere</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artiste in artistes %}
            <tr>
                <td>{{ artiste.id }}</td>
                <td>{{ artiste.Nom }}</td>
                <td>{{ artiste.Carriere }}</td>
                <td>{{ artiste.photo }}</td>
                <td><a href="{{ path('artiste_show', {'id': artiste.id}) }}">show</a></td>

                    {% if is_granted("ROLE_ADMIN") %}
                <td><a href="{{ path('artiste_edit', {'id': artiste.id}) }}">edit</a></td>
                    {%endif%}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('artiste_new') }}">Create new</a>
{%endif%}
{% endblock %}
